<% include ../partials/header %>
    <h1 class="text-center">Edit Comment</h1>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form action="/campgrounds/<%= campgroundId %>/comments/<%= comment.id %>?_method=put" method="post">
          <div class="form-group">
            <textarea name="comment" class="form-control"><%= comment.text %></textarea>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Submit</button>
          <a href="/campgrounds/<%= campgroundId %>" class="btn btn-outline-secondary btn-block">Cancel</a>
        </form>
      </div>
    </div>
<% include ../partials/footer %>