<% include partials/header %>
    <h1>List of campgrounds</h1>
    <ul>
      <% campgrounds.forEach((campground) => { %>
        <li>
          <%= campground %>
        </li>
      <% }) %>
    </ul>
    <a href="/newCampground">Add a campground!</a>
    <a href="/">Back to Home</a>
<% include partials/footer %>