<% include partials/header %>
      <header class="jumbotron">
        <h1>Welcome to YelpCamp!</h1>
        <p>
          View our hand-picked campgrounds from all over the world!
        </p>
        <a href="/campgrounds/new" class="btn btn-primary btn-large">Add a campground!</a>
      </header>

      <div class="row">
        <div class="col-lg-12">
          <h3>List of campgrounds</h3>
        </div>
      </div>
      <div class="row text-center camp-grid">
        <% campgrounds.forEach((campground) => { %>
          <div class="col-md-3 col-sm-6">
            <a href="/campgrounds/<%= campground._id %>">
            <figure class="figure">
              <image src="<%= campground.image %>" class="figure-img img-thumbnail"/>
              <h4 class="figure-caption"><%= campground.name %></h4>
            </figure>
            </a>
          </div>
        <% }) %>
      </div>
<% include partials/footer %>