<% include partials/header %>
    <h1>Add Campground</h1>

    <form action="/campgrounds" method="post">
      <div class="form-group">
        <label for="campName">Camp Name</label>
        <input type="text" name="campName" class="form-control"/>
        <label for="campImage">Camp Picture</label>
        <input type="text" name="campImage" class="form-control"/>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <a href='/' class="btn btn-outline-primary">Back to Home</a>
    <a href="/campgrounds" class="btn btn-outline-primary">View all</a>
<% include partials/footer %>