<% include partials/header %>
  <h2 class="text-center"><%= campground.name %></h2>
  <figure class="figure">
    <img src="<%= campground.image %>" class="img-fluid figure-img">
    <h4 class="figure-caption"><%= campground.description %></h4>
  </figure>
<% include partials/footer %>