.btn {
  margin: 5px 0;
}

.navbar {
  margin-bottom: 10px;
}

.camp-grid {
  display: flex;
  flex-wrap: wrap;
}

.camp-image {
  border-radius: 3px;
  width: 100%;
}

.camp-info {
  border: 1px solid #bfbfbf;
  border-radius: 3px;
  padding: 15px;
  margin-top: 0;
}

.camp-desc {
  margin: 0 15px 5px 15px;
}

.comment-body {
  color: #636c72;
  font-size: 90%;
  margin: 0 15px 5px 15px;
}

.option-button {
  width: 100px;
}

.delete-inline {
  display: inline;
}