body {
  background-color: #000;
}

nav {
  z-index: 1;
}

.landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}

.landing-header h1 {
  color: white;
}

.landing {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  padding: 0;
  margin: 0;
  background-image: url(https://static.pexels.com/photos/48638/pexels-photo-48638.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}