.btn {
  margin: 5px 0;
}

.camp-grid {
  display: flex;
  flex-wrap: wrap;
}

.comment-button {
  margin-right: 15px;
}

.camp-image {
  border-radius: 3px;
}

.camp-info {
  border: 1px solid grey;
  border-radius: 3px;
  padding: 15px;
  margin-top: 0;
}

.camp-desc {
  margin: 0 15px 5px 15px;
}

.comment {
  padding: 10px;
  background: #D6D6D6;
  border: 1px solid grey;
  border-radius: 3px;
}

.comment-body {
  margin: 0 15px 5px 15px;
}